<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Air Quality Report</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/air-quality.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/">Return to search</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </header>
    <main class="container">
      <section>
        <h1>Air Quality Report for <%= city %></h1>
        <p class="aqi-highlight" data-temp="<%= data.aqi %>">
          <strong>AQI (Air Quality Index):</strong>
          <% if (data.aqi) { %> <%= data.aqi %> <% } else { %> Data Unavailable
          <% } %>
        </p>

        <p>
          <strong>Measurement Time:</strong>
          <% if (data.time && data.time.s) { %> <%= data.time.s %> <% } else {
          %> Data Unavailable <% } %>
        </p>

        <p>
          <strong>Dominant Pollutant:</strong>
          <% if (data.dominentpol) { %> <%= data.dominentpol %> <% } else { %>
          Data Unavailable <% } %>
        </p>

        <p>
          <strong>CO (Carbon Monoxide) Levels:</strong>
          <% if (data.iaqi && data.iaqi.co && data.iaqi.co.v) { %> <%=
          data.iaqi.co.v %> µg/m³ <% } else { %> Data Unavailable <% } %>
        </p>

        <p>
          <strong>NO2 (Nitrogen Dioxide) Levels:</strong>
          <% if (data.iaqi && data.iaqi.no2 && data.iaqi.no2.v) { %> <%=
          data.iaqi.no2.v %> µg/m³ <% } else { %> Data Unavailable <% } %>
        </p>

        <p>
          <strong>O3 (Ozone) Levels:</strong>
          <% if (data.iaqi && data.iaqi.o3 && data.iaqi.o3.v) { %> <%=
          data.iaqi.o3.v %> µg/m³ <% } else { %> Data Unavailable <% } %>
        </p>

        <p>
          <strong>PM10 (Particulate Matter < 10µm) Levels:</strong>
          <% if (data.iaqi && data.iaqi.pm10 && data.iaqi.pm10.v) { %> <%=
          data.iaqi.pm10.v %> µg/m³ <% } else { %> Data Unavailable <% } %>
        </p>

        <p>
          <strong>PM2.5 (Particulate Matter < 2.5µm) Levels:</strong>
          <% if (data.iaqi && data.iaqi.pm25 && data.iaqi.pm25.v) { %> <%=
          data.iaqi.pm25.v %> µg/m³ <% } else { %> Data Unavailable <% } %>
        </p>

        <p>
          <strong>SO2 (Sulfur Dioxide) Levels:</strong>
          <% if (data.iaqi && data.iaqi.so2 && data.iaqi.so2.v) { %> <%=
          data.iaqi.so2.v %> µg/m³ <% } else { %> Data Unavailable <% } %>
        </p>

        <p>
          <strong>Wind Speed:</strong>
          <% if (data.iaqi && data.iaqi.w && data.iaqi.w.v) { %> <%=
          data.iaqi.w.v %> m/s <% } else { %> Data Unavailable <% } %>
        </p>
      </section>

      <section>
        <h2>Forecast (tomorrow)</h2>
        <% if (data.forecast && data.forecast.daily) { %> <% if
        (data.forecast.daily.o3 && data.forecast.daily.o3[1]) { %>
        <p>
          <strong>O3:</strong> Avg: <%= data.forecast.daily.o3[1].avg %>, Max:
          <%= data.forecast.daily.o3[1].max %>, Min: <%=
          data.forecast.daily.o3[1].min %>
        </p>
        <% } else { %>
        <p>Data for O3 is not available.</p>
        <% } %> <% if (data.forecast.daily.pm10 && data.forecast.daily.pm10[1])
        { %>
        <p>
          <strong>PM10:</strong> Avg: <%= data.forecast.daily.pm10[1].avg %>,
          Max: <%= data.forecast.daily.pm10[1].max %>, Min: <%=
          data.forecast.daily.pm10[1].min %>
        </p>
        <% } else { %>
        <p>Data for PM10 is not available.</p>
        <% } %> <% if (data.forecast.daily.pm25 && data.forecast.daily.pm25[1])
        { %>
        <p>
          <strong>PM2.5:</strong> Avg: <%= data.forecast.daily.pm25[1].avg %>,
          Max: <%= data.forecast.daily.pm25[1].max %>, Min: <%=
          data.forecast.daily.pm25[1].min %>
        </p>
        <% } else { %>
        <p>Data for PM2.5 is not available.</p>
        <% } %> <% } else { %>
        <p>Forecast data is not available.</p>
        <% } %>
      </section>

      <section>
        <form method="post" action="/weather">
          <input type="hidden" name="city" value="<%= city %>" />
          <input type="hidden" name="endDate" value="<%= endDate %>" />
          <input type="hidden" name="startDate" value="<%= startDate %>" />
          <button type="submit">Return</button>
        </form>
      </section>
    </main>
  </body>
  <script>
    function getAQILevel(aqi) {
      if (aqi <= 50) {
        return "good";
      } else if (aqi <= 100) {
        return "moderate";
      } else if (aqi <= 150) {
        return "unhealthy-for-sensitive-groups";
      } else if (aqi <= 200) {
        return "unhealthy";
      } else if (aqi <= 300) {
        return "very-unhealthy";
      } else {
        return "hazardous";
      }
    }

    function updateAQIDisplay() {
      const aqiElement = document.querySelector(".aqi-highlight");
      console.log(aqiElement.getAttribute("data-temp"));
      const aqiValue = parseInt(aqiElement.getAttribute("data-temp"));
      console.log(aqiValue);
      const aqiLevel = getAQILevel(aqiValue);
      aqiElement.classList.add(aqiLevel);
      aqiElement.textContent = `AQI (Air Quality Index): ${aqiValue} (${aqiLevel})`;
    }
    document.addEventListener("DOMContentLoaded", updateAQIDisplay);
  </script>
</html>
