<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/weather.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <title>Weather Forecast</title>
</head>
<body class="body">
    <header>
        <ul>
            <li><a href="/">Return to search</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </header>
    <main class="container">
        <section class="column">
            <h1 class="title">Weather Forecast for <%= city %></h1>
            <p class="temp-data highlight" data-temp="<%= statistics.averageTemp %>">
                <strong>Average Temperature:</strong> <%= statistics.averageTemp.toFixed(2) %>°C
            </p>
            <p class="temp-data highlight" data-temp="<%= statistics.maxTemp %>">
                <strong>Max Temperature:</strong> <%= statistics.maxTemp %>°C
            </p>
            <p class="temp-data highlight" data-temp="<%= statistics.minTemp %>">
                <strong>Min Temperature:</strong> <%= statistics.minTemp %>°C
            </p>
            <p class="highlight gray-highlight">
                <strong>Average UV Index:</strong> <%= statistics.averageUVIndex.toFixed(2) %>
            </p>
            <p class="highlight gray-highlight">
                <strong>Average Humidity:</strong> <%= statistics.averageHumidity.toFixed(2) %>%
            </p>
            <p class="highlight gray-highlight">
                <strong>Average Precipitation Probability:</strong> <%= statistics.averagePrecipProb.toFixed(2) %>%
            </p>
            <p class="highlight gray-highlight">
                <strong>Average Cloud Cover:</strong> <%= statistics.averageCloudCover.toFixed(2) %>%
            </p>
            <p class="highlight gray-highlight">
                <strong>Average Wind Speed:</strong> <%= statistics.averageWindSpeed.toFixed(2) %> km/h
            </p>

            <h2>Detailed Forecast</h2>
            <div class="forecast">
                <% days.forEach(function(day) { %>
                <div class="forecast-day">
                    <h3><%= day.datetime %></h3>
                    <p class="temp-data highlight" data-temp="<%= day.tempmax %>"><strong>Max Temp.:</strong> <%= day.tempmax %>°C</p>
                    <p class="temp-data highlight" data-temp="<%= day.tempmin %>"><strong>Min Temp.:</strong> <%= day.tempmin %>°C</p>
                    <p class="highlight red-highlight"><strong>Conditions:</strong> <%= day.conditions %></p>
                    <p class="highlight gray-highlight"><strong>Humidity:</strong> <%= day.humidity %>%</p>
                    <p class="highlight gray-highlight"><strong>Precipitation Probability:</strong> <%= day.precipprob %>%</p>
                    <p class="highlight gray-highlight"><strong>Cloud Cover:</strong> <%= day.cloudcover %>%</p>
                    <p class="highlight gray-highlight"><strong>UV Index:</strong> <%= day.uvindex %></p>
                    <p class="highlight gray-highlight"><strong>Wind Speed:</strong> <%= day.windspeedmean %> km/h</p>
                    <p class="highlight yellow-highlight"><strong>Sunrise:</strong> <%= day.sunrise %></p>
                    <p class="highlight yellow-highlight"><strong>Sunset:</strong> <%= day.sunset %></p>
                </div>
                <% }); %>
            </div>
        </section>
        <section class="column">
            <form method="post" action="/air-quality">
                <h1>Check Air quality for this city</h1>
                <input type="hidden" name="city" value="<%= cityOrigin %>" />
                <input type="hidden" name="startDate" value="<%= startDate %>" />
                <input type="hidden" name="endDate" value="<%= endDate %>" />
                <button type="submit" class="button">Check</button>
            </form>
        </section>
    </main>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
          const temperatureElements = document.querySelectorAll('.temp-data');

          temperatureElements.forEach(function (element) {
              const tempValue = parseInt(element.getAttribute('data-temp'));
              element.classList.remove('temperature-high', 'temperature-low', 'temperature-warm');
              if (tempValue > 35) {
                  element.classList.add('temperature-high');
              } else if (tempValue < 6) {
                  element.classList.add('temperature-low');
              } else {
                  element.classList.add('temperature-warm');
              }
          });
      });
    </script>
</body>
</html>

